/* Change the background color of the site */
.md-main {
    background-color: #1a1a1a !important;  /* Light grey background */
    color: white;
    font-weight: 800;
}

.md-main h1 {
    color: white;
}

.md-typeset code {
  
   background-color: rgb(15, 24, 32);;
}

.md-header__button.md-logo img {
    width: 64px;
    height: auto;
}

.md-sidebar__inner {
    background-color: rgb(15, 24, 32);
}

